.titlebar {
    background-color: white;
    border-top-style: dotted;
    border-right-style: solid;
    border-bottom-style: dotted;
    border-left-style: solid;
    border-width: 18px, 18px, 18px, 18px;
    border-color: pink;
    margin: 10px auto;
    padding: 10px, 10px, 10px, 10px;
}
#name {
    background-color: teal;
    width: auto;
    text-align: center;
    float: left;
}

#tabs {float: right;}

.about {clear: both}


img {
    width: 200px;
    height: 200px;
    margin-right: 20px;
    float: left;
}

footer {
    clear: left;
    text-align: center;
    color: white;
    background-color: #666666;
}
