body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    line-height: 28px;
    width: 960px;
    background: #E7E7E7;
    color: #777777;
    display: inline-block;
    margin: 0px;
    background-image: url("assets/images/triangle-mosaic.png");
}

.titlebar {
    background-color: #ffffff;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #cccccc;
    padding: 10px, 10px, 10px, 10px;
    height: 75px;
    text-align: center;
    width: 1200px;
}

#name {
    background-color: #4aaaa5;
    width: 275px;
    float: left;
    color: white;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    height: 57px;
    display: inline-block;
    padding: 20px 10px 20px 10px;
    position: relative;
    left: 13.75%;
    top: -22.7px;
    line-height: 75px;
    margin: 0px;
    font-size: 25px;
}

nav {
    float: right;
    position: relative;
    right: 14.5%;
    display: inline-block;
    text-align: center;
    line-height: 80px;
    color: #777777;
}

.about {
    clear: both;
    width: 800px;
    height: auto;
    border: .25px solid #dddddd;
    padding: 30px 30px 50px 30px;
    margin: 30px 30px 100px 30px;
    background: #ffffff;
    position: relative;
    left: 135px;
}

#teal {
    color:#4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    line-height: 20px;
    margin: 0px;
    padding: 0px 0px 10px 0px;
}

#profpic {
    width: 170px;
    height: 170px;
    margin-right: 20px;
    float: left;
    padding: 10px 5px 10px 5px;
}

footer {
    clear: left;
    text-align: center;
    color: #cccccc;
    background-color: #666666;
    font-size: 10px;
    height: 50px;
    width: 1200px;
    border-top: 8px solid #4aaaa5;
    line-height: 80px;
    position: fixed;
    left: 0;
    bottom: 0;
}

#line1 {
    border: 1px solid #CACACA;
}

.port:default {
    color: #777777;
}

.cont:default {
    color: #777777;
}

/* CONTACT FORM */
input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    box-sizing: border-box; 
    margin-top: 6px;
    margin-bottom: 16px; 
}
  
input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}
  
#container {
    background-color: #ffffff;
    padding: 10px;
    height: auto;
}

.comingsoon {
      box-sizing: border-box;
      width: 250px;
      height: auto;
      padding: 20px 20px 20px 0px;
}

.imagecontainer {
      position: relative;
}

.text-block {
    position: absolute;
    bottom: 50px;
    background-color: #4aaaa5;
    color: white;
    width: 190px;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 1px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#img1 {
    float: left;
}

#img2 {
    float: right;
}

#img3 {
    clear: left;
}

#img4 {
    float: right;
}

#img5 {
    clear: left;
}

#img6 {
    float: right;
}